:root {
  --red: #FF4136;
  --blue: #0074D9;
  --green: #2ECC40;
  --black: #111;
  --white: #EEE;
  --grey: #AAA;
  --purple: #B10DC9;
  --orange: #FF851B;
  --navy: #001f3f;
  --aqua: #7FDBFF;
  --olive: #3D9970;
  --teal: #39CCCC;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --maroon: #85144b;
  --fuchsia: #F012BE;
  --silver: #DDD;
}